  <div class="modal fade" style="height:700px;" id="contact_me_modal" tabindex="-1" role="dialog" aria-labelledby="contact_me_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-center" id="contact_me_modal_title">Want to work together on something?</h5>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class="mb-3 d-flex">
            <label class="col-lg-2 col-xs-12 form-label" for="fullname">Full name</label>
            <input class="form-control" type="text" name="fullname" id="fullname" placeholder="Full name">
          </div>

          <div class="mb-3 d-flex">
            <label class="col-lg-2 col-xs-12 form-label" for="email">Email Address</label>
            <input class= " form-control" type="email" name="email" id="email" placeholder="Email Address">
          </div>

          <div class="mb-3 d-flex">
            <label class="col-lg-2 col-xs-12 form-label" for="phone">Phone Number</label>
            <input class="col-xs-12 form-control" type="text" name="phone" id="phone" placeholder="06 XX XX XX XX">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Message</label>
            <textarea class="form-control" rows="6" cols="8" type="textarea" name="email" id="email" placeholder="Your message"></textarea>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>