<div class="col col-sm-12 col-md-6 d-flex align-items-center intro-mobile-height">
    <div class="d-flex flex-column align-items-center mx-4 intro-mobile-content" style="width: 400px;margin-top:200px;">
        <h1 class="hi w-55">Hi !<br>My Name Is Majd</h1>
        <h4 style="color: #de335d;"> And I love to Code!</h4>
        <div>
            <ul class="fa-2x d-flex">
                <li class="nav-item"> <a class="links" href="https://github.com/MajdalHyder" target="_blank" rel="noopener noreferrer"><i class="fab fa-git-square"></i></a></li>
                <li class="nav-item mx-3"> <a class="links" href="https://stackoverflow.com/users/9176212/majd" target="_blank" rel="noopener noreferrer"><i class="fab fa-stack-overflow"></i></a></li>
                <li class="nav-item mr-3"> <a class="links" href="https://www.linkedin.com/in/majdalhyder/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
                <li class="nav-item mx-3"> <a class="links" href="https://www.instagram.com/majd_alhyder/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"> <a class="links" href="https://www.behance.net/majdalhyder91" target="_blank" rel="noopener noreferrer"><i class="fab fa-behance"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col col-sm-12 col-md-6 d-flex order-lg-last order-md-last order-sm-first order-first mt-sm-5 img-mobile-height">
    <img src="/public/img/circle-cropped.png" class="rounded-circle mx-auto my-auto" alt="cover" style="object-fit:contain; border-radius:100%; width:65%; height:65%;">
</div>