<div class="container-fluid row projects-container d-flex px-5" style="overflow:hidden;">

    <div class="col-lg-2 col-md-2 col-s-12 card p-0 me-4 mb-4 d-flex flex-column project_card" style="background-position: center; background-repeat:no-repeat; background-image: url(/public/img/symfony.png); background-color:rgb(86, 37, 133)">
        <div class="p-4" ><h5 style="font-weight:bold;color: black; background-color:rgba(255, 255, 255, 0.8); padding:15px;" data-bs-toggle="modal" data-bs-target="#crowdin_modal">Site Clone using Symfony 5.2, MySQL</h3></div>
        <div class="description mt-auto align-self-end">
            <div class="tags d-flex align-self-end"><div>symfony</div><div>php</div><div>MySQL</div></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-s-12 card p-0 me-4 mb-4 d-flex flex-column project_card" style="background-size:contain;background-position: center; background-repeat:no-repeat; background-image: url(/public/img/laravel.png); background-color:rgb(133, 37, 133)">
        <div class="p-4" ><h5 style="font-weight:bold;color: black; background-color:rgba(255, 255, 255, 0.8); padding:15px;" data-bs-toggle="modal" data-bs-target="#laravel_modal">A "Phone book" app for a group of companies</h3></div>
        <div class="description mt-auto align-self-end">
            <div class="tags d-flex align-self-end"><div>Laravel</div><div>php</div><div>MySQL</div></div>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-s-12 card p-0 me-4 mb-4 d-flex flex-column project_card" style="background-size:contain;background-position: center; background-repeat:no-repeat; background-image: url(/public/img/excel.png); background-color:rgb(37, 133, 45)">
        <div class="p-4" ><h5 style="font-weight:bold;color: black; background-color:rgba(255, 255, 255, 0.8); padding:15px;" data-bs-toggle="modal" data-bs-target="#crowdin_modal">Information system design based on Excel Tables</h3></div>
        <div class="description mt-auto align-self-end">
            <div class="tags d-flex align-self-end"><div>VBA</div><div>SAP</div><div>Data Analysis</div></div>
        </div>
    </div>
</div>