<div class="row p-3">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <p style="font-size: 2rem; color:#f3f3f3;">Tools I use daily</p>
    </div>
    <div class="col container-fluid py-2" style="color: #f3f3f3;">
        <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-nowrap">
            <div class="card card-body">
                <p>For Protoyping</p><img src="/public/img/figmalogo.png" />
            </div>
            <div class="card card-body">
                <p>The Front-end</p>
                <div class="d-flex flex-column"><img class="mx-auto" style="width:80px; margin-bottom:10px;" src="/public/img/Daco_6047261.png" />
                    <img style="height:80px;" src="/public/img/PngItem_5194865.png">
                </div>
            </div>
            <div class="card card-body">
                <p>The Back-end</p>
                <div class="d-flex flex-column"><img class="mx-auto" style="width:80px; margin-bottom:10px;" src="/public/img/nodejs.png" />
                    <img style="height:60px;" src="/public/img/Webysther_20160423_-_Elephpant.svg">
                    <img style="margin-top: 15px;transform:scale(0.9);" src="/public/img/ExpressJS-logo.png">
                </div>
            </div>
            <div class="card card-body">
                <p>DataBases Preferred</p>
                <div class="d-flex flex-column"><img class="mx-auto" style="width:80px;" src="/public/img/sql.png" />
                    <img style="transform:scale(0.7); margin-top:0;" src="/public/img/mdb.png">
                </div>
            </div>

            <div class="card card-body">
                <p>Frameworks</p>
                <div class="d-flex flex-column"><img class="mx-auto" style="width:80px;" src="/public/img/symfony.png" />
                    <img style="transform:scale(0.7); margin-top:0;" src="/public/img/laravel.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <p style="font-size: 2rem; color:#f3f3f3;">Tools I used before</p>
    </div>
    <div class="col container-fluid py-2" style="color: #f3f3f3;">
        <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-wrap">
            <div class="card card-body">
                <div class="d-flex flex-column"><img class="mx-auto" style="width:100px;margin-bottom:10px;" src="/public/img/excel.png" />
                    <img style="transform:scale(0.8);" src="/public/img/sap.png">
                </div>
            </div>
            <div class="card card-body"><img class="mb-0" src="/public/img/java.png"></div>
            <div class="card card-body"><img style="transform:scale(0.6);" src="/public/img/csh.png"></div>
            <div class="card card-body"><img style="transform:scale(0.6);" src="/public/img/c.png"></div>
            <div class="card card-body"><img style="transform:scale(0.6);" src="/public/img/py.png"></div>
            <div class="card card-body justify-content-center"><img style="transform:scale(0.8);" src="/public/img/fortran.svg"></div>
        </div>
    </div>
</div>