
<h2 style="color: #F3F3F3;">It's a pretty long story, you'll love it !</h2>

<div class="timeline"> 
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <a href="https://etna.io/formation/cycle-bachelor/" target="_blank" rel="noopener noreferrer" class="timeline__event__icon ">
      <div class="timeline__event__icon " style="background-image: url(/public/img/etna-logo.png); background-color:#f3F3f3;">
        <i class="lni-cake"> </i>
      </div>
    </a>
    <div class="timeline__event__date">
      Today
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Looking for an opportunity in development
      </div>
      <div class="timeline__event__description">
        <p>
          I decided to commit myself fully to development and programing.<br>
          Today I'm a Bachelor student at ETNA since march 2021, I joined this <br>
          program to pursue my lifelong dream to become a software engineer 💻.
        </p>
        <p style="float: right;">Read more</p>
      </div>
    </div>
  </div>


  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon" style="background-color:#f3F3f3;">
      <img src="/public/img/ST.png" alt="psa" style="object-fit:scale-down; height: 60px;width: 60px;">
      <i class="lni-burger"></i>
    </div>
    <div class="timeline__event__date">
      2020
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Logistics supervisor / Information System Renovator
      </div>
      <div class="timeline__event__description">
        <p>What started as a boring job, ended up teaching me how to build and efficient <br>
           to manage data flow and to automate my tasks one by one down to working onlyon mondays ☕
        </p>
        <p style="float: right;">Read more</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>

    </div>
    <div class="timeline__event__date">
      2019
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        3D CAD Technician / had my Licence in Mechanical engineering from the Sorbonne
      </div>
      <div class="timeline__event__description">
        <p>
          Worked in the medical industry, designing surgical implants, I helped my boss<br>
          launch his first <strong>3D Printed</strong> product, and prototype much other projects <br>
          using 3D Printing.
        </p>
      </div>

    </div>
  </div>
  
  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>
    </div>
    <div class="timeline__event__date">
      2018
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        My first job in france 🎉 / Mechanical engineering student in the Sorbonne
      </div>
      <div class="timeline__event__description">
        <p>I was lucky enough to support my self with a job that I love, in my domain, and of great value.<br>
           I went quickly and within 3 months from an employee that needed help communicating to 
          a product and company representative in hospitals across France.</p>
      </div>
    </div>
  </div>

  
  <div class="timeline__event animated fadeInUp timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>
    </div>
    <div class="timeline__event__date">
      2017
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        A student in the Sorbonne
      </div>
      <div class="timeline__event__description">
        <p>with a french level of A1 maybe, I decided not to waste time, and to study mechanical engineering<br>
           in the Sorbonne, where all my professors in syria got their Phds, sounded great.</p>
      </div>
    </div>
  </div>

  <div class="timeline__event animated fadeInUp timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>
    </div>
    <div class="timeline__event__date">
      2016
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Landed in France 🛬
      </div>
      <div class="timeline__event__description">
        <p>I had like a month to shake off 6 years of war, because i had to start doing something, <br>
           so i had to adjust and pick up the language a long the way, which turned out good in the end...<br>
           I guess.</p>
      </div>
    </div>
  </div>
</div>