<div id="crowdin_modal" class="modal fade" tabindex="-1" role="dialog" style="border-radius: 0; overflow-y: scroll;">
    <div class="modal-dialog modal-xl">
       <div class="modal-content pt-5">
          <div class="modal-body" style="height: auto;">
             <div class="text-align-left">
                <p>A school project to mock the functionalities of the <strong>Crowdin</strong> platform. <br>
                   Crowdin is a cloud-based solution that streamlines localization management for teams. It offers a place to <br>
                   manage all of its users' multilingual content.
                </p>
                <p ><strong>Our project requirements:</strong><br>
                   Functionalities:
                <ul style="color:black;">
                   <li>Sign up / Log in</li>
                   <li>profile page with dashboard</li>
                   <ul style="color:black;">
                      Dashboard:
                      <li>Translation projects</li>
                      <li>User's languages</li>
                      <li>User custom description</li>
                      <li>Updatable profile picture</li>
                   </ul>
                </ul>
                </p>
             </div>
             <hr>
             <article class="row container-fluid m-0 d-flex">

                <div class="row mb-2">
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                      <p>I started with a simple 
                         <a href="https://www.figma.com/file/xE1RRvGdbV6AswSj0IRxbn/Crowdin?node-id=1%3A7">mock-up</a> using Figma<br>
                         this is not the first time i've used figma, and i do prefer it over other tools like Adobe Xd<br>
                         because of how accessible and simple it is
                      </p>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 image"><img style="width:100%" src="/public/img/Crowdin_figma.png" alt=""></div>
                </div>

                <div class="row mb-2">
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 text">
                      <p>After that, I designed a simple database with relations between entities using MySQL, 
                         a good perfect excercise and an opportunity to learn relating different entities, <br>
                         and an answer to my forever growing curiousity to put the world into a context.
                      </p>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2 image"><img style="width:100%" src="/public/img/mysqldbcrowdin.png" alt=""></div>
                </div>

                <div class="row mb-2">
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 text">
                      <p>Because I'm not that much of an expert yet using Containers like Docker, <br>
                        my development environment is a <em>Virtual Machine</em> and I'm using <strong>VMware Workstation</strong> <br>
                        for this purpose, here's a photo of m server working 24/7. using an SSH connection with my VM<br> 
                        I can develop on my windows machine using <strong>VSCode</strong>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2 image"><img style="width:100%" src="/public/img/crowdinvm.png" alt=""></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 text">
                    <p>Trying to push it a little further, my project is a singe page app that is still <br> in 
                    development of course, but I feel I'm on the right track, here's a look at my user dashboard</strong>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2 image"><img style="width:100%" src="/public/img/crowdin_profile_dashboard.png" alt=""></div>
              </div>
                
             </article>
          </div>
       </div>
    </div>
 </div>