<div id="laravel_modal" class="modal fade" tabindex="-1" role="dialog" style="border-radius: 0; overflow-y: scroll;">
    <div class="modal-dialog modal-xl">
       <div class="modal-content pt-5">
          <div class="modal-body" style="height: auto;">
             <div class="text-align-left">
                <p>A school project to create a "Phone book" app to allow browsing companies, their details
                    (Address, phone number, e-mail address) along with the employees of each individual <br>
                    company along with their details, with access permission and delete and edit privileges. 
                </p>
                
             </div>
             <hr>
             <article class="row container-fluid m-0 d-flex">

                <div class="row mb-2">
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text">
                      <p>I started with a simple 
                         <a href="https://www.figma.com/file/xE1RRvGdbV6AswSj0IRxbn/Crowdin?node-id=1%3A7">mock-up</a> using Figma<br>
                         this is not the first time i've used figma, and i do prefer it over other tools like Adobe Xd<br>
                         because of how accessible and simple it is
                      </p>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4 image"><img style="width:100%" src="/public/img/Crowdin_figma.png" alt=""></div>
                </div>                
             </article>
          </div>
       </div>
    </div>
 </div>